.container {
    display: inline;
    position: relative;
}

.button {
    width: 30px;
    height: 30px;
    border: none;
    margin: 5px;
    position: relative;
    background-color: transparent;
    outline: none;
}

.button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: gray;
    transform: scale(0);
    z-index: -5;
    opacity: .3;
}

.button:active::after {
    background-color: rgb(75, 75, 75);
}

.button:hover::after {
    transform: scale(1);
    transition: .3s;
}

.button>img {
    width: 80%;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    padding: 4px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 8px;
    border-radius: 10%;
    display: none;
}

.button:hover+.title {
    display: inline;
}