* {
    padding: 0;
    margin: 0;
    --accent-color: rgb(0, 98, 255);
    --border: gray 2px solid
}

img {
    vertical-align: middle;
}

html {
    overflow: hidden;
    background-color: #e4e7ff;
}