.origin {
    padding: 5px;
    outline: none;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 4px;
    margin-top: 54px;
}

.origin::placeholder {
    font-size: 14px;

}

/* 
.origin:focus {
    border-color: var(--accent-color);
} */