.outline{
    width:  85vw;
    height: 90vh;
    border: var(--border);
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.pallete{
    position: relative;
    --width: 80%;
    width : var(--width);
    height: calc(var(--width)*(3/4));
    border: var(--border);
}