.div {
    border: var(--border);
    position: absolute;
    transform-origin: left top;
}

.roundsquare {
    border-radius: 15px;
}

.round {
    border-radius: 50%;
}

.text {
    border: none;
    position: absolute;
    transform-origin: left top;
    border: 1px solid rgba(0, 0, 0, 0.157);
    box-sizing: border-box;
    outline: none;
}
.text:focus{
    border: var(--border);
}

.select {
    z-index: 99;
    border-color: rgb(17, 17, 17);
    background-color: gray;
}