.div {
    background-color: white;
    border: var(--border);
    position: absolute;
}

.square {
    width: 90px;
    height: 90px;
}

.roundsquare {
    width: 90px;
    height: 90px;
    border-radius: 15px;
}

.round {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.capsule {
    margin: 0 20px;
    width: 50px;
    height: 90px;
    border-radius: 99999px;
}

.select {
    z-index: 99;
    border-color: rgb(17, 17, 17);
    background-color: gray;
}